<h1> Angular WorkShop</h1>
<ul>
   <li>Name : {{name}}</li>
   <li>Age : {{age}}</li>
   <li>Email : {{email}} </li>
   <li><b>Address:</b>{{adress.street}},{{adress.city}},{{adress.province}}</li>
</ul>
<ul> 
  <form (submit)="addSkill(skill.value)">
    <div>
      <label for="skill">Skill :</label>
      <input type="text" #skill placeholder="Add your skill">
    </div>
  </form>

<h2>Edit Profile</h2>
<form >
<div>
  <label for="name"><b>Name :</b> </label>
  <input type="text" [(ngModel)]="name" name="name">
</div>
<div>
  <label for="age"><b>Age :</b> </label>
  <input type="text" [(ngModel)]="age" name="age">
</div>


</form>

   <h2>Skills</h2>
   <li style="list-style-type: none;" *ngFor="let skill of skills; let i = index;"> {{i+1}}. {{skill}} 
     <button (click)="removeSkill(skill)">xxx</button>
   </li>
</ul>